<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Povilo Servisas PTU16{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
    <style></style>
</head>
<body>
    <header>
        <ul class="nav">
            <li class="logo">Povilo Servisas PTU16</li>
            <li><a href="{% url "index" %}">Home</a></li>
            <li><a href="{% url "index" %}">Cars</a></li>
            <li><a href="{% url "index" %}">Brands</a></li>
            <li><a href="{% url "index" %}">Orders</a></li>
        </ul>
    </header>
    <main>
        {% block content%}
        {% endblock content%}
    </main>
    <footer>
        <p>&copy; 2023 PTU16 Povilo Servisas</p>
    </footer>
</body>
</html>