{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "brands in"|title %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "car brands"|capfirst %}</h1>

<form method="get" action="">
    {{ search_form.as_p }}
    <button type="submit" class="search-button">{% trans "search"|capfirst %}</button>
    <a href="?reset_search" class="reset-button">{% trans "reset"|capfirst %}</a>
</form>

{% if brand_list %}
    {% with brand_list as page_obj%}
        {% include "autoservisas/inc/pager_prev_next.html" %}
    {% endwith %}
    <ul class="brand-list">
        {% for brand in brand_list %}
            <li><a href="{% url 'brand_detail' brand %}">{{ brand }}</a></li>
        {% endfor %}
    </ul>
    {% with brand_list as page_obj %}
        {% include "autoservisas/inc/pager_pages.html" %}
    {% endwith %}
{% endif %}
{% endblock content %}