{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "car models for"|capfirst %} {{ brand }}{% endblock title %}
{% block content %}
<h1>{% trans "car models for"|capfirst %} {{ brand }}</h1>
{% if car_models %}
    <table class="car-model-table">
        <thead>
            <tr>
                <th>{% trans "model"|capfirst %}</th>
                <th>{% trans "year"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
            {% for car_model in car_models %}
                <tr>
                    <td>{{ car_model.model }}</td>
                    <td>{{ car_model.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "no car models found for"|capfirst %} {{ brand }}.</p>
{% endif %}
{% endblock content %}