{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "place order"|title %}{% endblock title %}
{% block content %}
<div class="container">
    <h1>{% trans "place order"|capfirst %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">{% trans "place order"|capfirst %}</button>
            <button type="button" onclick="window.location.href = '{% url 'user_car_list' %}';" class="btn btn-danger">{% trans "cancel order"|capfirst %}</button>
        </div>
    </form>
</div>
{% endblock content %}