{% extends "base.html" %}

{% block title %}Part or Service Detail{% endblock title %}

{% block content %}
<div class="container">
    <h1>Part or Service Detail</h1>
    <p>Name: {{ partservice.name }}</p>
    <p>Price: ${{ partservice.price }}</p>
    <div>Details: {{ partservice.details|safe }}</div>

    <h2>Reviews</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'review_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Post Review</button></p>
    </form>
    {% else %}
    <p>Login to post a review.</p>
    {% endif %}
    
    {% if partservice.reviews.all %}
    <ul class="cool-list">
        {% for review in partservice.reviews.all %}
            <li>
                <h4>
                    <span>{{ review.reviewer }}</span>
                    <span class="float-right">{{ review.created_at }}</span>
                </h4>
                {{ review.content }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No reviews yet.</p>
    {% endif %}
</div>
{% endblock content %}