{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "part or service detail"|title %}{% endblock title %}

{% block content %}
<div class="container">
    <h1>{% trans "part or service detail"|capfirst %}</h1>
    <p>{% trans "name"|capfirst %}: {{ partservice.name }}</p>
    <p>{% trans "price"|capfirst %}: ${{ partservice.price }}</p>
    <div>{% trans "details"|capfirst %}: {{ partservice.details|safe }}</div>

    <h2>{% trans "reviews"|capfirst %}</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'review_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">{% trans "post review"|capfirst %}</button></p>
    </form>
    {% else %}
    <p>{% trans "login to post a review"|capfirst %}.</p>
    {% endif %}
    
    {% if partservice.reviews.all %}
    <ul class="cool-list">
        {% for review in partservice.reviews.all %}
            <li>
                <h4>
                    <span>{{ review.reviewer }}</span>
                    <span class="float-right">{{ review.created_at }}</span>
                </h4>
                {{ review.content }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{% trans "no reviews yet"|capfirst %}.</p>
    {% endif %}
</div>
{% endblock content %}