{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "service orders for"|title %} {{ car.car_model }}{% endblock title %}
{% block content %}
<h1>{% trans "orders for"|capfirst %} {{ car.car_model }}</h1>
{% if service_orders %}
    <table class="car-model-table">
        <tr>
            <th>{% trans "date"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th>{% trans "part"|capfirst %} / {% trans "service"|capfirst %}</th>
            <th>{% trans "quantity"|capfirst %}</th>
            <th>{% trans "price"|capfirst %}</th>
            <th>{% trans "action"|capfirst %}</th>
        </tr>
        {% for order in service_orders %}
        <tr>
            <td>{{ order.date }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                {{ order.part_service }}
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>
                {% if order.status == 0 %}
                    <a href="{% url 'cancel_order' order.id %}" class="btn btn-danger">{% trans "cancel order"|capfirst %}</a>
                {% elif order.status != 0 and order.status != 3 %}
                    {% trans "this order cannot be cancelled"|capfirst %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>{% trans "No service orders found for this car"|capfirst %}.</p>
{% endif %}
{% endblock content %}