{% extends "base.html" %}
{% block title %}Service Orders for {{ car.car_model }}{% endblock title %}
{% block content %}
<h1>Orders for {{ car.car_model }}</h1>
{% if service_orders %}
    <table class="car-model-table">
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Part / Service</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for order in service_orders %}
        <tr>
            <td>{{ order.date }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                {{ order.part_service }}
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>
                {% if order.status == 0 %}
                    <a href="{% url 'cancel_order' order.id %}" class="btn btn-danger">Cancel Order</a>
                {% elif order.status != 0 and order.status != 3 %}
                    This order cannot be cancelled
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No service orders found for this car.</p>
{% endif %}
{% endblock content %}