{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "my cars from"|title %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "my cars"|capfirst %}</h1>
<a href="{% url 'add_car' %}" class="btn btn-primary add-car-button">{% trans "add car"|capfirst %}</a>
{% if car_list %}
    <table class="car-model-table">
        <tr>
            <th>{% trans "model"|capfirst %}</th>
            <th>{% trans "plate"|capfirst %}</th>
            <th>{% trans "vin"|capfirst %}</th>
            <th>{% trans "color"|capfirst %}</th>
            <th>{% trans "action"|capfirst %}</th>
        </tr>
    {% for car in car_list %}
        <tr>
            <td><a href="{% url 'car_service_orders' car.id %}">{{ car.car_model }}</a></td>
            <td>{{ car.plate }}</td>
            <td>{{ car.vin }}</td>
            <td>{{ car.color }}</td>
            <td><a href="{% url 'place_order' car.id %}">{% trans "place order"|capfirst %}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>{% trans "no cars found"|capfirst %}.</p>
{% endif %}
{% endblock content %}