body{ 
    font-family: sans-serif; 
    background-color: #FFFDD0; 
    padding: 0; margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: bold;
}
main {
    flex-grow: 1;
}
header, footer{
    padding: 0 1rem;
    margin: 0;
}
header{
    background-color: #241a16;
    color: #FFFDD0;
}
footer{
    background-color: #241a16;
    color: #FFFDD0;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: red;
}
header ul.nav{
    display: flex;
    font-size: larger;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0; margin: 0;
}
header ul.nav li{
    margin: 0 0.5rem;
    padding: 0.5rem;
}
h1, h2 { 
    border-bottom: 2px solid #b5651d55; 
    box-shadow: 0 3px 5px; 
    padding: 1rem;
    background-color: #9A7B4F
}
p {
    padding: 0 1rem;

}
.search-button,
.reset-button {
    background-color: #241a16;
    color: #FFFDD0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
}
.search-button:hover,
.reset-button:hover {
    background-color: #9A7B4F;
}
.reset-button {
    text-decoration: none;
}
ul.cool-list, ul.errorlist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: none;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #b5651d55;
    background-color: #522a0755;
    box-shadow: 1px 3px 5px #00000033;
}
ul.cool-list li, ul.errorlist li {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #b5651d55;
}   
ul.errorlist {
    background-color: #e0c0c0;
}
ul li.spacer {
    flex-grow: 1
}
ul.brand-list a {
    display: inline-block;
    font-size: larger;
    padding: 0.25rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
ul.brand-list a:hover {
    font-weight: bold;
    color: red;
}
ul.car-model-list {
    display: inline-block;
    color: black;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: none;
    padding: 0.5rem;
    margin: 1rem;
}
div.pager a {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: white;
    text-decoration: none;
    background-color: #241a16;
    border: 1px solid #241a16;
    border-radius: 4px;
    margin: 0.25rem;
    font-weight: bold;
}
div.pager .current {
    color: #FFFDD0;
    background-color: #241a16;
    padding: 0.25rem 0.5rem;
    border: 1px solid #b5651d55;
    border-radius: 4px;
    margin: 0.25rem;
    font-weight: bold;
}
table.car-model-table {
    width: 100%;
    border-collapse: collapse;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #b5651d55;
    background-color: #522a0755;
    box-shadow: 1px 3px 5px #00000033;
}
table.car-model-table th {
    background-color: #9A7B4F;
    color: #FFFDD0;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #b5651d55;
    text-decoration: none;
}
table.car-model-table tr {
    border-bottom: 1px solid #b5651d55;
    text-align: center;
}
table.car-model-table td {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}
table.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: 1px solid #b5651d55;
    background-color: #522a0755;
    box-shadow: 1px 3px 5px #00000033;
}
table.order-table th {
    background-color: #9A7B4F;
    color: #FFFDD0;
    padding: 0.75rem;
    text-align: left;
    border-bottom: 2px solid #b5651d55;
}
table.order-table tr {
    border-bottom: 1px solid #b5651d55;
}
table.order-table td {
    padding: 0.5rem;
}