body{ font-family: cursive; background-color: #FFFDD0 }
h1, h2 { 
    border-bottom: 2px solid #b5651d55; 
    box-shadow: 0 3px 5px; 
    padding: 1rem;
    background-color: #9A7B4F
}
p {
    padding: 0 1rem;
}